.header img {
    height:300px;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
}


.thumbnail img {
    height:150px;
    width:150px;
}


.card-img-top img {
    height:300px;
    width:300px;
}

.inline {
    display: inline-block;
}


.greyColor {
    color: grey;
}


.redColor {
    color: red;
}


.blueColor {
    color: blue;
}


#thumb:hover {
    color: blue;
  }


#heart:hover {
    color:red;
}
