{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/all_events.css">
{% endblock %}

{% block title %}All Events{% endblock %}

{% block body %}
<div class="container" style="color: #22223B; font-family: fantasy;">
    <br>
    <div class="row">
        {% for event in events %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <br><br>
                <div class='thumbnail'>
                    <p>{{ event.theme.color }} {{ event.category.name }}</p>
                    <a href="/events/{{ event.category.name }}/{{ event.event_id }}">
                        <img src="{{ event.image.url }}">
                    </a>
                </div><br>
            </div>
        {% endfor %}
        </div>
</div>

{% endblock %}