{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

  <h2>Change Password</h2>
  <form action="/change-password" method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label>
            Old Password: 
        </label>
        <input type="password" name="old_pw" id="old_pw" placeholder="Old Password">
        <input type="checkbox" onclick="toggleShowHidef()">
        Show Password
    </div>
    <br>
    <div>
        <label>
            New Password: 
        </label>
        {{ form.password(placeholder="New Password") }}
        <input type="checkbox" onclick="toggleShowHide()">
        Show Password
    </div>
    <br>
    <div>
        <input type="submit" value = "Save Changes" name="save" id="save">
        <input type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
    </div>
  </form>

  <script src="/static/js/events.js"></script>
  
{% endblock %}
        
    