{% extends 'base.html' %}
{% block title %}eVentry Home{% endblock %}

{% block body %}

  <h2>Update Profile</h2>
  <form action="/edit-profile" method="POST">
    {{ form.hidden_tag() }}
    <div>
      <label>First Name </label>
      {{ form.fname(placeholder="First name") }}
    </div>
    <br>
    <div>
      <label>Last Name </label>
      {{ form.lname(placeholder="Last name") }}
    </div>
    <br>
    <div>
      <label>Handle </label>
      {{ form.handle(placeholder="Handle") }}
    </div>
    <br>
    <div>
        <label>
            Email: 
        </label>
            {{ form.email.data }} 
    </div>
    <br>
    <div>
        <input type="submit" value = "Save Changes" name="save" id="save">
    </div>
  </form>

{% endblock %}
        
    