{% extends 'base.html' %}
{% block title %}Edit Image{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container" style="color: #22223B; font-family: fantasy;">
    <br> <br>
  <h2>Upload Image</h2>
  <br><br>
  <form action="/upload-image" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        <label>Upload a new image: </label>
        {{ form.image() }}
    </div>
    <br>
        <input class="btn btn-light" type="submit" value = "Save Changes" name="save" id="save">
        <input class="btn btn-secondary" type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
  </form>
</div>

  <script src="/static/js/events.js"></script>
  
{% endblock %}