{% extends 'base.html' %}
{% block title %}eVentry Home{% endblock %}

{% block body %}

<div class="container" style="color: #22223B; font-family: fantasy;">
  <br> <br>
  <h2>Update Profile</h2>
  <br>
  <form action="/edit-profile" method="POST">
    <br>
    {{ form.hidden_tag() }}
    <div>
      <label>First Name </label>
      {{ form.fname(placeholder="First name") }}
    </div>
    <br>
    <div>
      <label>Last Name </label>
      {{ form.lname(placeholder="Last name") }}
    </div>
    <br>
    <div>
      <label>Handle </label>
      {{ form.handle(placeholder="Handle") }}
    </div>
    <br>
    <div>
        <label>
            Email: 
        </label>
            {{ form.email.data }} 
    </div>
    <br>
    <div>
        <input class="btn btn-light" type="submit" value = "Save Changes" name="save" id="save">
        <input class="btn btn-secondary" type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
    </div>
  </form>
</div>

{% endblock %}
        
    