{% extends 'base.html' %}

{% block title %}New Event{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form action="/edit-item" method="POST">
    {{ form.hidden_tag() }}
    <h4>Update item details</h4>
    <table id="items-table" border="3">
        <tr>
            <td>
                <br>
                <div>
                    <label>Item name: </label>
                    {{ form.name(placeholder="Item Name") }}
                </div>
                <br>
                <div>
                    <label>Description: </label>
                    {{ form.item_description(placeholder="Item description") }}
                </div>
                <br>
                <div>
                    <label>Link where to get it from: </label>
                    {{ form.link(placeholder="Item link/source") }}
                </div>
                <br>
                <div>
                    <input type="hidden" value="{{ event_id }}" name="event_id" id="event_id">
                    <input type="hidden" value="{{ item_id }}" name="item_id" id="item_id">
                    <input type="submit" value = "Save Changes" name="save" id="save">
                    <input type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
                </div>
                <br>
        </td>
        </tr>
    </table>
</form>

<script src="/static/js/events.js"></script>

{% endblock %}