{% extends 'base.html' %}

{% block title %}New Event{% endblock %}

{% block body %}

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form action="/new-event" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h4>Please enter the details below to add your event</h4>
    <div>
        <label>Event category: </label>
        {{ form.category}}
    </div>
    <br>
    <div>
        <label>Event theme color: </label>
        {{ form.theme(placeholder="Theme color") }}
    </div>
    <br>
    <div>
        <label>Description of the event: </label>
        {{ form.event_description(placeholder="Event description") }}
    </div>
    <br>
    <div>
        <label>Upload an event image: </label>
        {{ form.image() }}
    </div>
    <br>
    <div>
        <input type="submit" value="Add Items" name="add" id="add">
        <input type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
    </div>
</form>

{% endblock %}