{% extends 'base.html' %}

{% block title %}New Event{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form action="/new-event" method="POST" enctype="multipart/form-data">
    <h4>Please enter the details below to add your event</h4>
    <p>
        Event category:
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.name }}</option>
            {% endfor %}
        </select>   
    </p>
    <p>
        Event theme color: <input type="text" name="theme">
    </p>
    <p>
        Upload an event image: <input type="file" name="file" autocomplete="off" required>
    </p>
    <h4>Enter an item from your event and some details about it</h4>
    <table id="items-table" border="3">
        <tr>
            <td>
                <p>
                    Item name: <input type="text" name="name-0">
                </p>
                <p>
                    Description: <textarea name="description-0"></textarea>
                </p>
                <p>
                    Upload an item image: <input type="file" name="file-0" autocomplete="off" required>
                </p>
                <p>
                    Link where to get it from: <input type="text" name="link-0">
                </p>
        </td>
        </tr>
    </table>
    <input type="hidden" name="number-of-items" id="number-of-items" value = "1">
    <p>
        <button type="button" id="add-item">Click to add another item</button>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

<script src="/static/js/events.js"></script>

{% endblock %}