{% extends 'base.html' %}

{% block title %}New Event{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/all_events.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <!-- http://jsbin.com/uboqu3/1/edit?html,js,output -->
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

{% endblock %}

{% block body %}

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<div class="container">
  <form action="/new-event" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <h4>Please enter the details below to add your event</h4>
      <br>
      <div>
          <label>Event category: </label>
          {{ form.category}}
      </div>
      <br>
      <div>
          <label>Event theme color: </label>
          {{ form.theme(placeholder="Theme color") }}
      </div>
      <br>
      <div>
          <label>Description of the event: </label>
          {{ form.event_description(placeholder="Event description") }}
      </div>
      <br>
      <div class="thumbnail">
          <label>Upload an event image: </label>
          <img id="event" src="/static/images/events/event-0.png" alt="your image" />
          {{ form.image(onchange="readURL(this);") }}
      </div>
      <br>
      <div>
          <input class="btn btn-light" type="submit" value="Add Items" name="add" id="add">
          <input class="btn btn-light" type="submit" value = "Cancel" name="cancel" id="cancel" formnovalidate>
      </div>
  </form>
</div>

<script src="/static/js/events.js"></script>

{% endblock %}