<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/css/user_profile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" 
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
                crossorigin="anonymous"></script>

        <!-- http://jsbin.com/uboqu3/1/edit?html,js,output -->
        <link class="jsbin" 
              href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" 
              rel="stylesheet"
              type="text/css" />
        <script class="jsbin" 
                src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" 
                src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    </head>
    <body style="background-color: #F2E9E4;">
        <div class="container" style="color: #22223B; font-family: fantasy;">
        <br><br>

            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </p>

        <form action="/add-item" method="POST" enctype="multipart/form-data">
            {{ item_form.hidden_tag() }}
            <h4>Enter an item from your event and some details about that item</h4>
            <br>
            <table id="items-table">
                <tr>
                    <td>
                        <br>
                        <div>
                            <label>Item name: </label>
                            {{ item_form.name(placeholder="Item Name") }}
                        </div>
                        <br>
                        <div>
                            <label>Description: </label>
                            {{ item_form.item_description(placeholder="Item description") }}
                        </div>
                        <br>
                        <div class="profile_thumbnail">
                            <label>Upload an item image: </label>
                            <img id="pro" src="/static/images/items/item-0.png" alt="your image" />
                            {{ item_form.image(onchange="readURL(this);") }}
                        </div>
                        <br>
                        <div>
                            <label>Link where to get it from: </label>
                            {{ item_form.link(placeholder="Item link/source") }}
                        </div>
                        <br>
                        <div>
                            <input class="btn btn-light" type="submit" value="Add this item" name="submit">
                        </div>
                        <br>
                </td>
                </tr>
            </table>
            <!-- <input type="hidden" name="number-of-items" id="number-of-items" value = "1"> -->
            <br>
            <div>
                <input class="btn btn-light" type="submit" value="Done" name="submit" formnovalidate>
                <input class="btn btn-secondary" type="submit" value="Cancel" name="submit" formnovalidate>
            </div>
        </form>

        <script src="/static/js/events.js"></script>

    </body>
</html>