{% extends 'base.html' %}
{% block title %}eVentry Home{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

  <h2>Create an Account</h2>
  <form action="/sign-up" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
      <label>First Name </label>
      {{ form.fname(placeholder="First name") }}
    </div>
    <br>
    <div>
      <label>Last Name </label>
      {{ form.lname(placeholder="Last name") }}
    </div>
    <br>
    <div>
      <label>Handle </label>
      {{ form.handle(placeholder="Handle") }}
    </div>
    <br>
    <div>
      <label>Upload a profile picture: </label>
      {{ form.image() }}
  </div>
  <br>
    <div>
      <label>Email </label>
      {{ form.email(placeholder="Enter email") }}
    </div>
    <br>
    <div>
      <label>Password </label>
      {{ form.password(placeholder="Password") }}
      <input type="checkbox" onclick="toggleShowHide()">
      Show Password
    </div>
    <br>
    <div>
      <input type="submit">
    </div>
  </form>

  <script src="/static/js/events.js"></script>
  
{% endblock %}