{% extends 'base.html' %}
{% block title %}eVentry Home{% endblock %}

{% block body %}

  <h2>Create an Account</h2>
  <form action="/sign-up" method="POST">
    {{ form.hidden_tag() }}
    <div>
      <label>First Name </label>
      {{ form.fname(placeholder="First name") }}
    </div>
    <br>
    <div>
      <label>Last Name </label>
      {{ form.lname(placeholder="Last name") }}
    </div>
    <br>
    <div>
      <label>Email </label>
      {{ form.email(placeholder="Enter email") }}
    </div>
    <br>
    <div>
      <label>Password </label>
      {{ form.password(placeholder="Password") }}
    </div>

    <p>
      <input type="submit">
    </p>
  </form>
  
{% endblock %}