{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<form action="/edit-profile-page">
    <br>
    <div>
        <h2>
            {{ user.fname }} {{ user.lname }} 
        </h2>
    </div>
    <br>
    <div>
        <b>
            First Name: 
        </b>
            {{ user.fname }} 
    </div>
    <br>
    <div>
        <b>
            Last Name: 
        </b>
            {{ user.lname }} 
    </div>
    <br>
    <div>
        <b>
            Email: 
        </b>
            {{ user.email }} 
    </div>
    <br>
    <div>
        <b>
            Password: 
        </b>
            {% for letter in user.password %}
                *
            {% endfor %}
    </div>
    <br>
    <div>
        <input type="submit" value="Edit Profile" name="edit" id="edit">
        <input type="submit" value="Change Password" name="pw" id="pw">
    </div>
</form>

{% endblock %}